body {
    color:gray;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 90vh;
}

.grid-item {
    position: relative;
    bottom: 7vw;
    text-align: center;
}

.grid-item img {
    width: 80%;
    transition:all 1s;
}

.locked {
    filter:grayscale(100);
}

.locked-img {
    position: relative;
    top: 20vw;
    z-index: 1;
    width: 40%!important;
}

.invisible {
    filter: opacity(0);
}

.fade-to-worldmenu {
    transition: all 3s;
    background-image: url(../img/clouds.png);
    background-size: cover;
    height: 180vh;
    width: 100vw;
    margin-top: 80vh;
    position: fixed;
    z-index: 2;
}