body {
    color:gray;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

.grid-item {
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    text-align: center;
    margin: 10px;
}

.locked {
    filter:grayscale(100);
}

.locked-img {
    margin-top: 20vh;
    width: 40%!important;
}

.invisible {
    filter: opacity(0);
}

.fade-to-worldmenu {
    transition: margin-top 2s,background-image 2s;
    background-image: url(../img/clouds.png);
    background-size: cover;
    height: 180vh;
    width: 100vw;
    margin-top: 80vh;
    position: fixed;
    z-index: 2;
}

.island {
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(../img/island.png);
}